RewriteEngine On

RewriteBase /

#Ajoute une condition pour que nos url se terminent toujours avec un /
RewriteCond %{REQUEST_URI} !(/$|\.)
#Si l'url ne se terminent pas avec un / alors on fait une redirection pour rediriger avec un /
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

#Ajoute une règle pour que la page d'accueil soit sur l'url https://b2-gp97.kevinpecro.info/
RewriteRule ^$ index.php?page=accueil
#https://b2-gp97.kevinpecro.info/produit/
RewriteRule ^([a-zA-Z]+)/$ index.php?page=$1
#https://b2-gp97.kevinpecro.info/produit/framboise/
RewriteRule ^([a-zA-Z]+)/([a-z-]+)/$ index.php?page=$1&identifiant=$2
RewriteRule ^([a-zA-Z]+)/([a-z-]+)/([0-9]+)/$ index.php?page=$1&action=$2&id=$3 [L]

RewriteRule ^paiement/$ index.php?page=paiement [QSA,L]
RewriteRule ^retour-paiement/([a-z]+)/$ index.php?page=retour-paiement&identifiant=$1 [QSA,L]
RewriteRule ^ipn/$ index.php?page=ipn [QSA,L]